div.wp-event-busy {
	background-color: #E9F2DC;
	color: #555;
}

div.wp-event-open{
	background-color: #3A87AD;
	cursor: pointer;
	color: #f2f2f2;
}

.wp-legend{
	margin-top: 10px;
	display: none;
}

.wp-legend i{
	display: inline-block;
	width: 15px;
	height: 15px;
}

.wp-busy{
	background-color: #E9F2DC;
}

.wp-open{
	background-color: #3A87AD;
}

.wp-booked{
	background-color: #B35047;
}

.wp-reviewTitle{
	color: #B95A48;
}	
.wp-addEvent label{
	font-weight: bold;
}

#startTime, #endTime, #servicename, #providername{
	padding: 5px;
}

.wp-srvc-info{
	margin-bottom: 15px;
	position: relative;
}

.wp-srvc-info-h{
	cursor: pointer;
	margin-bottom: 5px;
}

.wp-srvc-info-e{
	position: absolute;
	right: 10px;
}

.srvc-d-info{
	margin: 0 0 0 5px;
}

.srvc-d-info li{
	list-style-type: none;
}

.srvc-d-info li i{
	margin-right: 10px;
}

.srvc-d-info li div{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#calendar h2{
	font-size: 16px;
	color: #CD853F
}

#calendarFor{
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 2px #ddd;
}

#calendarFor ul{
	margin: 0;
}

#calendarFor li{
	list-style: none;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

#calendarFor li:hover{
	border: 1px solid #f3f3f3;
}

#calendarFor li.active{
	background-color: #f3f3f3;
}

#calendarFor img{
	max-width: 50px;
	max-height: 50px;
	margin: 0 10px;
}

#calendarFor div.info{
	display: inline-block;
}