.srvc-add{
	margin: 15px 0;
	display: none;
}

.services-box{}

.service{
	cursor: pointer;
}

.srvc-info{
	margin-top: 0;
	margin-bottom: 0;
	height: 72px;
}

.srvc-d-info li{
	list-style-type: none;
}

.srvc-info li{
	list-style-type:square;
	color: #B94A48;
	line-height: 18px;
}

.srvc-d-info{
	margin: 0 0 0 5px;
}

.srvc-d-info li i{
	margin-right: 10px;
}

.srvc-d-info li div, .srvc-info li div{
	color: #555555;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.srvc-name{
	/* font-family: 'Yanone Kaffeesatz';
	font-size: 16px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.srvc-imgs .slides li{
	height: 225px;
}

.srvc-imgs img{
	max-height: 225px;
	margin-left: auto;
	margin-right: auto;
}

#slider {
	margin: 0 0 10px;
}

#carousel li {
	margin-right: 5px;
}

#carousel img {
	display: block;
	cursor: pointer;
	max-width: 100px;
	max-height: 100px;
	border: 2px solid transparent;
}

#carousel img:hover {
	border: 2px solid #3A87AD;
}

#carousel .flex-active-slide img {
	border: 2px solid #3A87AD;
	cursor: default;
}

#sr-photo-trigger{
	cursor: pointer;
	margin-top: 5px;	
}

.sr-photo-row{
	margin-top: 10px;	
}

.sr-photo-col{
	float: left;
	border: 1px solid #ddd;
	padding: 2px;
	margin-right: 10px;
	width: 96px;
	height: 96px;
}

.sr-photo{
	max-width: 100%;
	max-height: 100%;
}

#picupload, #picframe{
	display: none;
}