.services-box{
	margin-top: -15px;
}

.category2{
	margin-top: 15px;
}

.service{
	cursor: pointer;
}

.srvc-info{
	margin-top: 0;
	margin-bottom: 0;
	height: 72px;
}

.srvc-info li{
	list-style-type:square;
	color: #B94A48;
	line-height: 18px;
}

.srvc-info li div{
	color: #555555;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.srvc-info li.empty{
	list-style-type:none;
}

.srvc-name{
	font-family: 'Yanone Kaffeesatz';
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.srvc-imgs .slides li{
	height: 225px;
}

.srvc-imgs img{
	max-height: 225px;
	margin-left: auto;
	margin-right: auto;
}

.wp-oly-close{
	float: right;
	margin-top: -15px;
	color: #B94A48;
	font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

#wp-oly{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	overflow-y: scroll;
	display: none;
	z-index: 999;
}

#wp-oly.open{
	display: block;
}

.wp-oly-body{
	background-color: #fff;
	margin: 2%;
	box-shadow: 4px 4px 0 #CDCDCD;
	padding: 2%;
}

.wp-oly-body .srvc-d-name{
    color: #4A4A43;
    font-family: 'League_Gothic';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 30px;
}

.wp-oly-body .srvc-d-images{
	margin-top: 15px;
}

.wp-oly-body .srvc-d-info{
	margin-top: 10px;	
}

#slider {
	margin: 0 0 10px;
}

#carousel li {
	margin-right: 5px;
}

#carousel img {
	display: block;
	cursor: pointer;
	max-width: 100px;
	max-height: 100px;
	border: 2px solid transparent;
}

#carousel img:hover {
	border: 2px solid #3A87AD;
}

#carousel .flex-active-slide img {
	border: 2px solid #3A87AD;
	cursor: default;
}