  <h5>My contact information</h5>

  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" name="name">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="email">Email address</label>
    <div class="controls">
      <input type="text" id="email" name="email" readonly>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="mobilePhone">Mobile Phone</label>
    <div class="controls">
      <input type="text" id="mobilePhone" name="mobilePhone">
    </div>
  </div>

  <div class="control-group">
  	<label class="control-label">Photos</label>
		<div class="controls">
			<button id="sr-photo-trigger" class="btn btn-mini btn btn-info" type="button"><i class="icon-white icon-plus-sign"></i> Add photo</button>
			<div class="row-fluid sr-photo-row"></div>
			<span id="sr-photo-loading" class="hide">uploading...</span>
		</div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userUrlWeb">Website/Blog</label>
    <div class="controls">
      <input type="text" id="userUrlWeb" name="userUrlWeb">
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userUrlFacebook">Facebook</label>
    <div class="controls">
      <input type="text" id="userUrlFacebook" name="userUrlFacebook">
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userUrlLinkedIn">LinkedIn</label>
    <div class="controls">
      <input type="text" id="userUrlLinkedIn" name="userUrlLinkedIn">
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription1">Short Description</label>
    <div class="controls">
      <textarea id="userDescription1" name="userDescription1" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription2">Specialization</label>
    <div class="controls">
      <textarea id="userDescription2" name="userDescription2" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription3">Education</label>
    <div class="controls">
      <textarea id="userDescription3" name="userDescription3" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription4">Professional Experience</label>
    <div class="controls">
      <textarea id="userDescription4" name="userDescription4" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription5">Languages</label>
    <div class="controls">
      <textarea id="userDescription5" name="userDescription5" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription6">Registration</label>
    <div class="controls">
      <textarea id="userDescription6" name="userDescription6" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription7">Awards and Recognitions</label>
    <div class="controls">
      <textarea id="userDescription7" name="userDescription7" maxlength="5000"></textarea>
    </div>
  </div>

  <div class="control-group">
	<label class="control-label" for="userDescription8">Memberships</label>
    <div class="controls">
      <textarea id="userDescription8" name="userDescription8" maxlength="5000"></textarea>
    </div>
  </div>
  
  <div class="form-actions">
	<button type="submit" class="btn btn-success">Save changes</button>
  </div>