  <h5>My contact information</h5>
  
  <div class="control-group">
    <label class="control-label" for="vendorUserEmail">Email address</label>
    <div class="controls">
      <input type="text" id="vendorUserEmail" name="vendorUserEmail" readonly>
    </div>
  </div>

  <div class="form-actions">
	<button type="submit" class="btn btn-success">Save changes</button>
  </div>