  <h5>Business Information</h5>
  <div class="control-group">
    <label class="control-label" for="vendorName">Business Name</label>
    <div class="controls">
      <input type="text" id="vendorName" name="vendorName">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="vendorPhone">Business Phone</label>
    <div class="controls">
      <input type="text" id="vendorPhone" name="vendorPhone">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="vendorMobilePhone">Mobile Phone</label>
    <div class="controls">
      <input type="text" id="vendorMobilePhone" name="vendorMobilePhone">
    </div>
  </div>
  <hr>
  <h5>Location</h5>
  <div class="control-group">
	<label class="control-label" for="vendorLocationStreet1">Street Address</label>
    <div class="controls">
      <input type="text" id="vendorLocationStreet1" name="vendorLocationStreet1">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorLocationStreet2">Street Address2</label>
    <div class="controls">
      <input type="text" id="vendorLocationStreet2" name="vendorLocationStreet2">
    </div>
  </div>			          
  <div class="control-group">
	<label class="control-label" for="vendorLocationCity">City</label>
    <div class="controls">
      <input type="text" id="vendorLocationCity" name="vendorLocationCity">
    </div>
  </div>			          
  <div class="control-group">
	<label class="control-label" for="vendorLocationState">State</label>
    <div class="controls">
      <input type="text" id="vendorLocationState" name="vendorLocationState">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorLocationZip">Zip</label>
    <div class="controls">
      <input type="text" id="vendorLocationZip" name="vendorLocationZip">
    </div>
  </div>			          
  <div class="control-group">
	<label class="control-label" for="vendorLocationPhone">Business Phone</label>
    <div class="controls">
      <input type="text" id="vendorLocationPhone" name="vendorLocationPhone">
    </div>
  </div>
  <hr>
  <h5>Employees</h5>
  <div class="control-group">
	<label class="control-label" for="vendorNumberOfEmployees">Number Of Employees</label>
    <div class="controls">
      <input type="text" id="vendorNumberOfEmployees" name="vendorNumberOfEmployees">
    </div>
  </div>
  <hr>
  <h5>Booking</h5>
  <h6>Appointment Booking Notifications</h6>
  <div class="control-group">
	<label class="control-label" for="vendorContactEmail">Email me</label>
    <div class="controls">
      <input type="text" id="vendorContactEmail" name="vendorContactEmail">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorContactPhone">Call me</label>
    <div class="controls">
      <input type="text" id="vendorContactPhone" name="vendorContactPhone">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorContactText">Text me</label>
    <div class="controls">
      <input type="text" id="vendorContactText" name="vendorContactText">
    </div>
  </div>
  <hr>
  <h5>Online</h5>
  <div class="control-group">
	<label class="control-label" for="vendorUrlWeb">Website</label>
    <div class="controls">
      <input type="text" id="vendorUrlWeb" name="vendorUrlWeb">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorUrlFacebook">Facebook</label>
    <div class="controls">
      <input type="text" id="vendorUrlFacebook" name="vendorUrlFacebook">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorUrlTwitter">Twitter</label>
    <div class="controls">
      <input type="text" id="vendorUrlTwitter" name="vendorUrlTwitter">
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorUrlLinkedIn">LinkedIn</label>
    <div class="controls">
      <input type="text" id="vendorUrlLinkedIn" name="vendorUrlLinkedIn">
    </div>
  </div>
  <hr>
  <h5>Business Description</h5>
  <div class="control-group">
	<label class="control-label" for="vendorDescription1">Please describe your business</label>
    <div class="controls">
      <textarea id="vendorDescription1" name="vendorDescription1"></textarea>
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorDescription2">Why do you love what you do?</label>
    <div class="controls">
      <textarea id="vendorDescription2" name="vendorDescription2"></textarea>
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorDescription3">What differentiates you from the competition?</label>
    <div class="controls">
      <textarea id="vendorDescription3" name="vendorDescription3"></textarea>
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="vendorDescription4">Where did you receive your training?</label>
    <div class="controls">
      <textarea id="vendorDescription4" name="vendorDescription4"></textarea>
    </div>
  </div>
  <div class="form-actions">
	<button type="submit" class="btn btn-success">Save changes</button>
  </div>